<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <h3>
    <a [routerLink]="['/product-item', product.id]"> info </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <!-- <img [src]="product.photo"> -->

  <share-buttons
    theme="modern-dark"
    [include]="['telegram']"
    [showIcon]="true"
    [showText]="true"
    [url]="product.link"
    [description]="product.name"
    twitterAccount="rodrigokamada"
    class="pt-5"
  >
  </share-buttons>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
